<div class="container">

<h1 class="text-center"> All Posts: </h1>
<%= render "common/flash" %>
<div class="row">
  <div class="text-center col-xs-8 col-xs-offset-2">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td>post</td>
          <td>Link to it's page</td>
          <td>Upvotes</td>
          <td>Upvote this!</td>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to "#{post.user.name}", "users/#{post.user.id}" %></td>
            <td><%= link_to "#{post.title}", post_path(post) %></td>
            <td>Placeholder</td>
            <td>Placeholder</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <h3 class="text-center"><%= link_to "Add a new post!", new_post_path %></h3>
</div>